@import "../variables";

ul.nav-menu {
  display: inline-block;
  list-style-type: none;
  height: $navbar-height;
  margin-top: 0;
  margin-bottom: 0;
  font-family: sans-serif;
  font-size: 16px;

  li {
    height: $navbar-height;
    line-height: $navbar-height;
    vertical-align: middle;
    cursor: pointer;
    margin-left: 8px;
    margin-right: 8px;
    display: inline-block;
    color: #fff;
    border: 0;
    padding-left: 8px;
    padding-right: 8px;

    &:hover {
      box-shadow: inset 0 0 142px -84px rgba($primary, 0.8);
    }

    a,
    a:hover,
    a:visited,
    a:active,
    a:focus {
      text-decoration: none;
      color: #fff;
    }
  }
}