@import "../variables";

ul.comment-feed {
  list-style-type: none;
  padding: 24px;

  li {
    div.comment-widget {
      width: 100%;
    }
  }
}

h1.no-comments {
  text-align: center;
  width: 100%;
}
