@import "../variables";

form#comment_reactions-form {
  margin-top: 8px;

  button, p {
    margin: 0;
  }

  p {
    width: 100%;
    font-size: 20px;
    text-align: center;
  }

  button {
    border: none;
    font-size: 18px;
  }
}