@import "../variables";

ul.comment-feed {
  list-style-type: none;
  padding: 24px;

  li {
    &:not(:last-child) {
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      padding-bottom: 8px;
    }

    div.comment-widget {
      width: 100%;
    }
  }
}

h1.no-comments {
  text-align: center;
  width: 100%;
}
