@import "../variables";

div.comment-widget {
  width: $comment-width;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  div.content {

    a.post-link,
    a.post-link:hover,
    a.post-link:active,
    a.post-link:visited,
    a.post-link:focus {
      color: $primary_text;
      text-decoration: none;
      cursor: pointer;
    }

    span {
      display: block;
      line-break: auto;
      max-width: $comment-width;
    }
    span.meta {
      color: $secondary_text;

      button {
        display: inline-block;
        background-color: transparent;
        border: none;
        text-decoration: underline;
        color: $secondary_text;
        font-size: 16px;
        outline: none !important;
        cursor: pointer;
      }
    }
  }
}
