@import "../variables";

div.comment-widget {
  width: $comment-width;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  div.content {
    span {
      display: block;
      line-break: auto;
      max-width: $comment-width;
    }
    span.meta {
      color: $secondary_text;
    }
  }
}
