@import "../variables";

ul.comment-list {
  list-style-type: none;
  padding: 24px;

  li {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    div.content {
      span {
        display: block;
      }
      span.meta {
        color: $secondary_text;
      }
    }
  }
}
