@import "../variables";

div.post-widget {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 8px;
  margin-bottom: 8px;
  max-width: $post-image-width;

  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  background-color: $primary_lighter;

  border-radius: 5px;

  h2.title {
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 24px;

    .post-context-menu {
      margin-right: 16px;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;

    img {
      // TODO: add breakpoints
      width: $post-image-width;
      height: auto;
    }

    div.meta {
      margin: 12px;
      margin-top: 0;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
    }

    h1.no-comments {
      font-weight: 100;
      color: $secondary-text;
    }
  }
}
