ul.post-feed {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;

  li {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}

h1.no-posts {
  text-align: center;
  width: 100%;
}
