@import "variables";

.content {
  h1.no-posts {
    font-weight: 100;
    color: $secondary-text;
  }
}

li.load-more {
  button.load-more-button {
    margin-top: 8px;
    padding: 8px;
    border: 1px solid $primary_dark;
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;
  }
}
