@import "variables";

body {
  background-color: $primary_light;
  color: $primary_text;
  font-family: sans-serif;
}


div#app {
  height: 100%;
  width: 100%;
}

div.wrapper,
div.content {
  z-index: 10;
}

div#loader {
  z-index: 20;
}

div.wrapper {
  max-width: 80%;
}

div.content {
  padding-top: $navbar-height;
}
