@import "variables";

body {
  background-color: $primary_light;
  color: $primary_text;
  font-family: sans-serif;
}

div#app {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  div.wrapper {
    margin-top: $navbar-height;
    display: flex;
    flex-direction: column;

    div.content {
      flex: 1 0 auto;
    }

    #footer {
      flex-shrink: 0;
    }
  }
}

div.wrapper,
div.content {
  z-index: 10;
}

div#loader {
  z-index: 20;
}

