@import "variables";

//noinspection CssNoGenericFontName
div.logo {
  $logo-size: 32px;
  height: $navbar-height;
  display: flex;
  justify-content: center;
  align-items: center;

  img{
    height: $logo-size;
    width: $logo-size;
  }
}
