
//// Colors
$primary: #2196F3;
$primary_dark: #1976D2;
$primary_light: #c4e5ff;
$primary_lighter: #cceaff;
$accent: #FFC107;
$primary_text: #212121;
$secondary_text: #757575;
$icons: #FFFFFF;
$divider: #BDBDBD;


//// Navbar
$navbar-height: 64px;

//// Loader
$loader-height: 48px;
