body, html {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

@import "variables"; // this should come first
@import "layout";
@import "logo";
@import "nav/nav";
@import "components/inputs";
@import "components/buttons";
@import "components/forms";
@import "loader";
@import "login";
@import "register";
